[Unit]
Description=Check Romeo marketplace reservations every minute

[Timer]
OnBootSec=1min
OnUnitActiveSec=1min
Unit=romeo-reservations.service

[Install]
WantedBy=timers.target
